header {
  background-color: #f6cbb7;
  height: 70px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.68);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  font-size: 3rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  height: 300px;
}

.logo-container img {
  margin-top: -142px;
  margin-left: 22%;
  height: 700px;
}

body {
  background-color: #fcfaf0;
}

.search-container {
  margin-top: 25px;
  margin-left: 44%;
}

.button1 {
  margin-top: 15px;
  margin-left: 6%;
  font-family: "Bebas Neue", cursive;
}

.button1 button {
  font-family: "Padauk", sans-serif;
  background-color: tomato;
}

h2 {
  margin-top: 45px;
  margin-left: 55%;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h2 img {
  margin-top: 45px;
  margin-left: 50%;
}
